<div class="tableMother">
    <h1>Users List</h1>
<table >
    <tr>
        <td><strong>ID</strong></td>
        <td><strong>Name</strong></td>
        <td><strong>Username</strong></td>
        <td><strong>email</strong></td>
        <td><strong>Website</strong></td>
    </tr>
    <tr #targetDiv *ngFor="let i of usersArr" [class.selected]="isRowSelected(i)" (contextmenu)="showContextMenu($event, i)">
        <th>{{i.id}}</th>
        <th>{{i.name}}</th>
        <th>{{i.username}}</th>
        <th>{{i.email}}</th>
        <th>{{i.website}}</th>
    </tr>

</table>
<div [ngStyle]="contextMenuStyle" *ngIf="selectedUser"  class="contextMenu">
    <h5 (click)="deleteUser()">Delete</h5>
    <hr>
    <h5  (click)="goToDetails()">Details</h5>
</div>
</div>