th, td{
    border: 1px solid gray;
    padding: 10px;
    box-sizing: border-box;
}
tr.selected {
    background-color: #e0e0e0; /* Change this to your desired background color for selected rows */
  }
.contextMenu{
    border: 1px solid gray;
    position: absolute;
    
}