th, td{
    border: 1px solid gray;
    padding: 10px;
    box-sizing: border-box;
}
tr.selected {
    background-color: #e0e0e0;
  }
.contextMenu{
    border: 1px solid gray;
    position: absolute;
    background-color: white;
    color: black;
    z-index: 100;
  
    
}
.tableMother{
    width: 80%;
    padding: 10px;
    margin: auto;
    border: 1px solid black;
    box-sizing: border-box;
    margin-top: 100px;
    overflow-x: auto;
}
table{
    width: 100%;
    margin: auto;
    border-collapse: collapse;
 
}
h5{
    margin: 5px;
}
h5:hover{
    transition: 0.3s;
   color: red;
    background-color: rgb(196, 196, 196);
}