<table >
    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Username</td>
        <td>Email</td>
        <td>Website</td>
    </tr>
    <tr #targetDiv *ngFor="let i of usersArr" [class.selected]="isRowSelected(i)" (contextmenu)="showContextMenu($event, i)">
        <th>{{i.id}}</th>
        <th>{{i.name}}</th>
        <th>{{i.username}}</th>
        <th>{{i.email}}</th>
        <th>{{i.website}}</th>
    </tr>

</table>
<div *ngIf="selectedUser,hidden" class="contextMenu">
    <h5 (click)="deleteUser()">Delete</h5>
    <h5 (click)="goToDetails()">Details</h5>
</div>
