<div *ngIf="wrongUser" class="wrongUser">
  <h6>Username or password is incorrect</h6>
</div>
<div class="signin">
    <div class="signinhead">
        <h3>Angular Sign In</h3>
    </div>
<form class="signinform" [formGroup]="myForm"  >
    <div class="mb-3" >
      <label for="username" class="form-label">Username</label>
      <input name="username" formControlName="username" [formControl]="myusername" placeholder="Username"  type="text" class="form-control" id="username" >
      
    </div>
    <div class="mb-3" >
      <label for="password" class="form-label">Password</label>
      <input name="password" formControlName="password" placeholder="Password" type="password" class="form-control" id="password"  required >
      <div class="requiredText" *ngIf="myForm.get('password')?.hasError('required') && myForm.get('password')?.touched">
        password is required
      </div>
    </div>

    <button [disabled]="!isFormValid" (click)="submit()" type="submit" class="btn btn-primary mybtn">Sign In</button>
  </form>
</div>